.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);

  @media screen and (min-width: 768px) {
    top: 0;
    bottom: initial;
  }
}
