.section {
  padding: 2rem 0 4rem;

  .title {
    font-size: var(--fs-800);
    color: var(--title-color);
  }

  .subtitle {
    display: block;
    font-size: var(--fs-400);
    margin-bottom: var(--mb-900);
  }

  .title,
  .subtitle {
    text-align: center;
  }
}
